.main_chat
  .main_chat__group-info
    .main_chat__group-info__left-box
      .main_chat__group-info__left-box__current-group
        aaa
      .main_chat__group-info__left-box__member-list
        member:
        .main_chat__group-info__left-box__member-list__member
          aa
    .main_chat__group-info__edit
      =link_to"#" ,class: "edit_btn" do
        ="Edit"
  .main_chat__messages
    .main_chat__messages__message
      .main_chat__messages__message__info
        .main_chat__messages__message__info__taker
          aa
        .main_chat__messages__message__info__date
          2020/2/11(Tue)17:00:00
      .main_chat__messages__message__text
        こんにちは
    .main_chat__messages__message
      .main_chat__messages__message__info
        .main_chat__messages__message__info__taker
          aa
        .main_chat__messages__message__info__date
          2020/2/11(Tue)17:00:00
      .main_chat__messages__message__text
        こんにちは
  .form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text" , placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}