.side_bar
  .side_bar__header
    .side_bar__header__box
      .side_bar__header__box__name
        aa
      .side_bar__header__box__icon
        =link_to"#", class: "side_bar__btn" do
          =icon('far', 'edit')
        =link_to"#", class: "side_bar__btn" do
          =icon('fas', 'cog')
  .side_bar__groups
    .side_bar__groups__box
      .side_bar__groups__box__name
        グループ名
      .side_bar__groups__box__message
        グループメッセージ
    .side_bar__groups__box
      .side_bar__groups__box__name
        グループ名
      .side_bar__groups__box__message
        グループメッセージ
