.side_bar{
  height: 100vh;
  width: 300px;
  float: left;
  &__header{
    height: 100px;
    background-color: #253141;
    display: flex;
    font-weight: bold;
    align-items: center;
    padding: 0 20px;
    &__box{
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      background-color:#253141;
      &__name{
        line-height: 20px;
        color: white;
        font-size: 16px;
      }
      &__icon{
        display: flex;
        justify-content: flex-end;
        width: 60px;
        line-height: 20px;
        a{
        color: #ffffff;
        margin-left: 5px;
        }
      }
    }
  }
  &__groups{
  height: calc(100vh - 100px);
  width: 300px;
  background-color: #2f3e51;
  color: white;
  padding: 20px 20px 0px;
    &__box{    
    margin: 0px 0px 40px;
      &__name{
        margin: 0px 0px 5px;
        font-size: 15px;
      }
      &__message{
        font-size: 11px;
      }
    }
  }
}